/* CSS document */
body { 
	font-family: "Courier New", "Courier", monospace;
}

.rooms table td {
	border-right: thin solid gray;
}
/*.focus-content {
	margin-top: 40px;
	float: left;
	width:100%;
}
.center-content {	
	float: left;
	width: 75%;
}
.left, .right {
	border: thin solid black;
	float: left;
	width:8%;
	min-height: 100px;
}*/
