<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.jsaddlercs.com">
<head>
<meta charset="UTF-8"/>
<title>Saddler Hotels - Rooms</title>
<style>
	body {
		padding-left: 2%;
		padding-right: 2%;
	}
	.focus-content { 
		width: 40%;
		height: 500px;
		border: thin solid black;
		display: block;
		float:left;
	}
	.left-content {
		float: left;
		display: block;
		width: 10%;
		height: 500px;
	}
	.a-btn { 
		background-color: white;
		color: black;
	}
</style>
</head>

<body>
	
<div class="focus-content">
	<h2>Available Rooms to Choose From</h2>
	<table>
		<tr>
			<th>Room Id</th>
			<th>Room Name</th>
			<th>Bed Info</th>
			<th>Nights</th>
			<th>Room Cost</th>
		</tr>
		<tr th:each="room:${rooms}">
			<td th:text="${room.id}">Room Id</td>
			<td th:text="${room.name}">Name</td>
			<td th:text="${room.bedInfo}">Bed Info</td>
			<td th:text="${room.nights}">Nights</td>
			<td th:text="${room.cost}">Cost</td>
		</tr>
	</table>
	<h3>End model tables</h3>
	</div>
<div class="left-content">
	<ul>
	<li><a class="a-btn" href="/roomsSuites">View Suite Rooms</a></li>
	<li><a class="a-btn" href="/roomsQueens">View Queen Bed Rooms</a></li>
	<li><a class="a-btn" href="/roomsKings">View King Bed Rooms</a></li>
	<li><a class="a-btn" href="/rooms100">View Rooms under 100.00</a></li>
	<li><a class="a-btn" href="/rooms200">View Rooms under 200.00</a></li>
	</ul>
</div>
</body>
</html>