<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.jsaddlercs.com">
<head>
<meta charset="UTF-8"/>
<title>Saddler Hotels - Rooms</title>
<style>
	body {
		padding-left: 2%;
		padding-right: 2%;
	}
	.focus-content { 
		width: 80%;
		margin-top: 100px;
		height: 500px;
		border: thin solid black;
	}
</style>
</head>

<body>
	
<div class="focus-content">
	<h2>Available Rooms to Choose From</h2>
	<table>
		<tr>
			<th>Room Id</th>
			<th>Room Name</th>
			<th>Bed Info</th>
			<th>Nights</th>
			<th>Room Cost</th>
		</tr>
		<tr th:each="room:${rooms}">
			<td th:text="${room.id}">Room Id</td>
			<td th:text="${room.name}">Name</td>
			<td th:text="${room.bedInfo}">Bed Info</td>
			<td th:text="${room.nights}">Nights</td>
			<td th:text="${room.cost}">Cost</td>
		</tr>
	</table>
	<h3>End model tables</h3>
</div>
<div class="left-content">
	
</div>
</body>
</html>